.description {
  margin: 4rem 6rem;
}

.description h1 {
  font-size: 3rem;
}

.descriptionA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}

.descriptionB {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}

.descriptionText {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}

.descriptionText h2 {
  padding-bottom: 1rem;
}

.descriptionText p {
  padding-bottom: 1.5rem;
}

.descriptionText a {
  text-decoration: none;
  background-color: lightgrey;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
  transition: 0.2s ease-in-out;
}

.descriptionText a:hover {
  color: white;
  background-color: palevioletred;
}

.illustration {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.illustration img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.4);
}

.illustration img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}

@media screen and (max-width: 850px) {
  .destination {
    margin: 4rem 2rem;
  }

  .descriptionA {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }

  .descriptionB {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }

  .descriptionText {
    width: 100%;
  }

  .illustration {
    width: 100%;
    margin: 1.8rem;
  }

  .illustration img {
    height: 250px;
  }
}
